In [1]:
import numpy as np
import pandas as pd

In [2]:
days = 5

underlying_prices = list([377.85, 369.14, 372.52, 368.8, 374.23])
call_option_prices = list([18.9455, 14.49, 11.65, 13.30, 15.45])
option_deltas = list([0.5072, 0.3418, 0.4026, 0.3280, 0.4146])

data = pd.DataFrame({
    'Day': np.arange(1, days + 1),
    'Underlying Price': underlying_prices,
    'Call Option Price': call_option_prices,
    'Option Delta': option_deltas
})

In [3]:
def delta_hedge_with_costs(price_of_underlying, price_of_call_option, delta_of_option):
    hedge_amount = -delta_of_option * price_of_call_option / price_of_underlying
    transaction_costs = 0.02 * abs(hedge_amount) * price_of_underlying
    return hedge_amount, transaction_costs

In [4]:
def calculate_Ai(Ci_plus_1, Ci, Delta_i, Si_plus_1, Si):
    """
    Calculate the difference Ai between the change in value of OP and RE.

    :param Ci_plus_1: Price of the call option at time i+1.
    :param Ci: Price of the call option at time i.
    :param Delta_i: Delta of the option at time i.
    :param Si_plus_1: Price of the underlying asset at time i+1.
    :param Si: Price of the underlying asset at time i.
    :return: Difference Ai.
    """
    return (Ci_plus_1 - Ci) - Delta_i * (Si_plus_1 - Si)

data['A_i'] = calculate_Ai(data['Call Option Price'].shift(-1), 
                          data['Call Option Price'], 
                          data['Option Delta'], 
                          data['Underlying Price'].shift(-1), 
                          data['Underlying Price'])

error = (data['A_i'] ** 2).mean()

print("Total Mean Squared Error:", error)

data

Total Mean Squared Error: 6.501923168695977

   Day  Underlying Price  Call Option Price  Option Delta       A_i
0    1            377.85            18.9455        0.5072 -0.037788
1    2            369.14            14.4900        0.3418 -3.995284
2    3            372.52            11.6500        0.4026  3.147672
3    4            368.80            13.3000        0.3280  0.368960
4    5            374.23            15.4500        0.4146       NaN